<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EHealthTerminal</servlet-name>
        <servlet-class>ju.ehealthservice.system.EHealthTerminal</servlet-class>
        <init-param>
            <param-name>mode</param-name>
            <param-value>Start</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>ju.ehealthservice.servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveXMLAction</servlet-name>
        <servlet-class>ju.ehealthservice.actions.SaveXMLAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorUSB</servlet-name>
        <servlet-class>ju.ehealthservice.actions.MonitorUSB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorWiFi</servlet-name>
        <servlet-class>ju.ehealthservice.actions.MonitorWiFi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XivelyFeed</servlet-name>
        <servlet-class>ju.ehealthservice.actions.XivelyFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDataByID</servlet-name>
        <servlet-class>ju.ehealthservice.search.ViewDataByID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoUpdateXMLRepository</servlet-name>
        <servlet-class>ju.ehealthservice.actions.AutoUpdateXMLRepository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BPRecord</servlet-name>
        <servlet-class>ju.ehealthservice.actions.BPRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReadingValues</servlet-name>
        <servlet-class>ju.ehealthservice.actions.ViewReadingValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDataByID</servlet-name>
        <servlet-class>ju.ehealthservice.search.SearchDataByID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrawDemo</servlet-name>
        <servlet-class>ju.ehealthservice.actions.DrawDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECGPanel</servlet-name>
        <servlet-class>ju.ehealthservice.ecg.ECGPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespRatePanel</servlet-name>
        <servlet-class>ju.ehealthservice.resprate.RespRatePanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Try</servlet-name>
        <servlet-class>ju.ehealthservice.actions.Try</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataPanel</servlet-name>
        <servlet-class>ju.ehealthservice.patient.DataPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAsXML</servlet-name>
        <servlet-class>ju.ehealthservice.xml.SaveAsXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFromXML</servlet-name>
        <servlet-class>ju.ehealthservice.xml.LoadFromXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReport</servlet-name>
        <servlet-class>ju.ehealthservice.report.GenerateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerminateSystem</servlet-name>
        <servlet-class>ju.ehealthservice.system.TerminateSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcquireECGGraph</servlet-name>
        <servlet-class>ju.ehealthservice.ecg.AcquireECGGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcquireRespRateGraph</servlet-name>
        <servlet-class>ju.ehealthservice.resprate.AcquireRespRateGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorAbnormality</servlet-name>
        <servlet-class>ju.ehealthservice.abnormality.MonitorAbnormality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDataByName</servlet-name>
        <servlet-class>ju.ehealthservice.search.ViewDataByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDataByName</servlet-name>
        <servlet-class>ju.ehealthservice.search.SearchDataByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParseSubmissionRequest</servlet-name>
        <servlet-class>ju.ehealthservice.search.ParseSubmissionRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGraphImages</servlet-name>
        <servlet-class>ju.ehealthservice.images.GetGraphImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xx</servlet-name>
        <servlet-class>ju.ehealthservice.actions.MonitorWiFi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveImage</servlet-name>
        <servlet-class>ju.ehealthservice.images.SaveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploader</servlet-name>
        <servlet-class>ju.ehealthservice.utils.FileUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPatientImage</servlet-name>
        <servlet-class>ju.ehealthservice.images.GetPatientImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manualsub</servlet-name>
        <servlet-class>ju.ehealthservice.utils.manualsub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemarksSubmission</servlet-name>
        <servlet-class>ju.ehealthservice.remarks.RemarksSubmission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EHealthTerminal</servlet-name>
        <url-pattern>/EHealthTerminal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveXMLAction</servlet-name>
        <url-pattern>/SaveXMLAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorUSB</servlet-name>
        <url-pattern>/MonitorUSB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XivelyFeed</servlet-name>
        <url-pattern>/XivelyFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDataByID</servlet-name>
        <url-pattern>/ViewDataByID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoUpdateXMLRepository</servlet-name>
        <url-pattern>/AutoUpdateXMLRepository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPRecord</servlet-name>
        <url-pattern>/BPRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReadingValues</servlet-name>
        <url-pattern>/ViewReadingValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDataByID</servlet-name>
        <url-pattern>/SearchDataByID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrawDemo</servlet-name>
        <url-pattern>/DrawDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECGPanel</servlet-name>
        <url-pattern>/ECGPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespRatePanel</servlet-name>
        <url-pattern>/RespRatePanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Try</servlet-name>
        <url-pattern>/Try</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataPanel</servlet-name>
        <url-pattern>/DataPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAsXML</servlet-name>
        <url-pattern>/SaveAsXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFromXML</servlet-name>
        <url-pattern>/LoadFromXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReport</servlet-name>
        <url-pattern>/GenerateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerminateSystem</servlet-name>
        <url-pattern>/TerminateSystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcquireECGGraph</servlet-name>
        <url-pattern>/AcquireECGGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcquireRespRateGraph</servlet-name>
        <url-pattern>/AcquireRespRateGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorAbnormality</servlet-name>
        <url-pattern>/MonitorAbnormality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDataByName</servlet-name>
        <url-pattern>/ViewDataByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDataByName</servlet-name>
        <url-pattern>/SearchDataByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParseSubmissionRequest</servlet-name>
        <url-pattern>/ParseSubmissionRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xx</servlet-name>
        <url-pattern>/xx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorWiFi</servlet-name>
        <url-pattern>/MonitorWiFi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveImage</servlet-name>
        <url-pattern>/SaveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploader</servlet-name>
        <url-pattern>/FileUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPatientImage</servlet-name>
        <url-pattern>/GetPatientImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGraphImages</servlet-name>
        <url-pattern>/GetGraphImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manualsub</servlet-name>
        <url-pattern>/manualsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemarksSubmission</servlet-name>
        <url-pattern>/RemarksSubmission</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>EHealthTerminal</welcome-file>
    </welcome-file-list>
</web-app>
